

form.allform {
    display: flex;
    flex-wrap: wrap;
}


.login {
    width: 50%;
    /* justify-content: center; */
}

.form-row.align-items-center {
    padding: 25%;
}



.sigin {
    width: 50%;
}

.siginwrap {
    padding: 25%;
}

h2 {
    font-size: 45px;
}

input {
    margin: 10px 0 10px 0;
}