.alleprodutederne {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;


}

.figrgb {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.24);
    padding: 50px;
}

.produktederneimg {
    width: 200px;
    text-align: center;

}

.produktlogo {
    width: 100%;
}

.produktedernesH {
    margin: 115px;
    color: white;
    padding: 20px 0 20px 40px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(121,121,121,1) 50%, rgba(158,158,158,1) 100%);
}

.produktederneL {
    font-size: 50px;
    margin: 115px 0 115px 0;
    text-decoration: none;
    color: black;
    margin-left: 30%;
    display: block;
}

