

.allrejser {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.rejseimg {
    width: 100%;
    margin: 0;
   
}
.rejsefigure{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.24);
    padding: 5%;
    margin: 0;
}
.rejseimgbox {
    width: 100%;
}

.rejsebox {
    margin: 1%;
}
.textrejser{
    background: black;
     color: white;
     padding: 5%;
}

.rejserH {
    margin: 10px 15px 115px 15px;
    color: white;
    padding: 20px 0 20px 40px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(121,121,121,1) 50%, rgba(158,158,158,1) 100%);
}

.rejserLink {
    font-size: 50px;
    margin: 115px 0 115px 15%;
    text-decoration: none;
    color: black;
    display: block;
}


.Rejser.container {
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}